*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
*.apk
*.ap_
*.aab
keystore/
*.jks
*.keystore
keystore.properties

# Signing secrets
keystore/
*.jks
*.keystore
keystore.properties

android/build/
_apk_extract/
*.zip

emulator-stderr.txt
emulator-stdout.txt
_apk_extract/
